@import url(./styles/header.css);
@import url(./styles/footer.css);




    /* Link do NAV */
    
     /* Configurações do Fundo da pagina */
     body {
        background-color: rgb(237, 232, 224);
    }



    /* Configuração dos trextos da apresentação */
    .secao-01 {
        font-family: 'Libre Baskerville', serif;
        margin-left: 50px;
        margin-top: 10px;

    }

    .secao-01 h1 {
        font: bold;
        font-family: 'Bruno Ace SC', cursive;
        font-size: 35px;

    }

    .secao-01 h2 {
        font: bold;
        font-family: 'Roboto Mono', monospace;
        font-size: 35px;

    }

    .secao-01 h3 {
        font-weight: bold;
        font-family: 'Roboto Mono', monospace;
        font-weight: bold;
        color: #34b4eb;
        padding-top: 100px;

    }

    .texto {

        font-family: 'Roboto Mono', monospace;
        text-align: justify;
        padding-top: 50px;
        line-height: 2.0;

        margin-left: 1;
        padding-left: 5%;

        ;

    }

    .secao-02 {

        margin-left: 50px;
        margin-top: 50px;
        width: 400px;
    }

    .img img {
        width: 100%;
        border-radius: 200px;


    }
    .container_Qr{
        display: flex;
        flex-direction: column;
        
    }
    .img_qr{
        width: 100%;
        height: 100%;
    }
    .container_link{
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 5px;
        height: 100px;
    }
    
.container_contatos{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 350px 350px ;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin-top: 20px;
  


}
main{
margin: 0px 5px;
display: 	flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.descricao{
    font-size: 20px;
    margin: 0px 200px;

}

.container_contatos p{
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
  
    
}

@media screen and (max-width: 768px){
    .container_contatos{
        display: grid;
    grid-template-columns: 250px 250px ;
    grid-template-rows: 350px 350px ;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin-top: 20px;
      
    }
    .descricao{
        font-size: 20px;
        margin: 0px 70px;
        
    
    }
}   
@media screen and (max-width: 500px){
    .container_contatos{
        display: grid;
    grid-template-columns:  250px ;
    grid-template-rows:  350px ;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin-top: 20px;
      
    }
    .descricao{
        font-size: 20px;
        margin: 0px 70px;
        width: 100%;
        padding: 0px 15px;

    
    }
    main{
        margin: 0px 5px;
        display: 	flex;
        justify-content:  center;
        flex-direction: column;
        
        text-align: justify;
        }
       
}