@import url(./styles/header.css);
@import url(./styles/footer.css);

@media all and (orientation: landscape) {
    /* Estilizações CSS */


    /* Link do NAV */
    
    


    /* Configuração dos trextos da apresentação */
    .secao-01 {
        font-family: 'Libre Baskerville', serif;
        margin-left: 50px;
        margin-top: 10px;

    }

    .secao-01 h1 {
        font: bold;
        font-family: 'Bruno Ace SC', cursive;
        font-size: 35px;

    }

    .secao-01 h2 {
        font: bold;
        font-family: 'Roboto Mono', monospace;
        font-size: 35px;

    }

    .secao-01 h3 {
        font-weight: bold;
        font-family: 'Roboto Mono', monospace;
        font-weight: bold;
        color: #34b4eb;
        padding-top: 100px;

    }

    .texto {

        font-family: 'Roboto Mono', monospace;
        text-align: justify;
        padding-top: 50px;
        line-height: 2.0;

        margin-left: 1;
        padding-left: 5%;

        ;

    }

    .secao-02 {

        margin-left: 50px;
        margin-top: 50px;
        width: 400px;
    }

    .img img {
        width: 100%;
        border-radius: 200px;


    }

}