 @import url(./styles/header.css);
 @import url(./styles/footer.css);

*{
    border: none;
    margin: 0px;
    padding: 0px;
}

     /* Estilizações CSS */

    /* Configurações do Fundo da pagina */
    body {
        background-color: rgb(237, 232, 224);
    }

 


     /* Configuração dos trextos da apresentação */
     .secao-01 {
         font-family: 'Libre Baskerville', serif;
      

     }

     .secao-01 h1 {
         font: bold;
         font-family: 'Bruno Ace SC', cursive;
         font-size: 35px;

     }

     .secao-01 h2 {
         font: bold;
         font-family: 'Roboto Mono', monospace;
         font-size: 35px;

     }

     .secao-01 h3 {
         font-weight: bold;
         font-family: 'Roboto Mono', monospace;
         font-weight: bold;
         color: #34b4eb;
         padding-top: 100px;

     }

     .texto {

         font-family: 'Roboto Mono', monospace;
         text-align: justify;
         line-height: 2.0;
         font-weight: bold;

     }

     .descricao {

         font-family: 'Roboto Mono', monospace;
         text-align: justify;
         line-height: 2.0;

     }

     .secao-02 {

         margin-left: 50px;
         margin-top: 50px;
         width: 350px;
     }

     .img img {
         width: 100%;
         border-radius: 200px;
     }
     .apresentacao_img{
        display: flex;
        flex-direction: row;
     }

     @media all and (orientation: landscape) {
        /* Estilizações CSS */
    }
    @media screen and (max-width: 768px){
      
        .carrocel_container{
            display: none;
            width: 0px;
            height: 0px;
        }
        .apresentacao_img{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
       
    }
    