header{
    padding: 20px;
    font-size: 20px;
}

/* Link do NAV */
.links{
    display: inline;

    font-family: 'Roboto Mono', monospace;
  
}
/* Link do NAV */
.links a{
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
    color:black;
    padding: 5px;
}
/* Efeito dos Links do NAV */
.links a:hover{
    color: #34b4eb;
    border-top: 2px solid #34b4eb;
    border-bottom: 2px solid#34b4eb;
}

  /* Efeito dos Links dos Botões */
  .link-b1 {
    background-color: transparent;
    border: rgb(16, 1, 1) solid 1px;
    font-weight: bold;
    color: black;
}

/* Efeito dos Links dos Botões */
.link-b2 {
    background-color: transparent;
    border: rgb(16, 1, 1) solid 1px;
    font-weight: bold;
    color: black;
}
   /* Efeito dos Links do NAV */
   .links a:hover {
    color: #34b4eb;
    border-top: 2px solid #34b4eb;
    border-bottom: 2px solid#34b4eb;
}

/* Efeito dos Links dos Botões */
.link-b1 {
    background-color: transparent;
    border: rgb(16, 1, 1) solid 1px;
    font-weight: bold;
    color: black;
}

/* Efeito dos Links dos Botões */
.link-b2 {
    background-color: transparent;
    border: rgb(16, 1, 1) solid 1px;
    font-weight: bold;
    color: black;
}
 /* Efeito do nome do portifolio */
 .span-1,
 .span-2 {
     font-weight: bold;
     text-decoration: none;
     font-family: 'Bruno Ace SC', cursive;
     font-size: xx-large;
 }

 /* Efeito do nome do portifolio */
 .span-1 {
     color: #34b4eb;
 }

 /* Removendo o sublinhado dos link do NAV */
 a {
     text-decoration: none;
 }